html {
	font-size: 16px;
}

.nike {
	background: url(images/background.png) no-repeat;
	background-size: cover;
	width: 50rem;
	height: 36rem;
	position: relative;
	margin: 0 auto;
	text-transform: uppercase;
}

.header {
	padding: 1.5rem 4rem;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: .7rem;
}

.header__nav {
	display: inline-block;
	position: absolute;
	right: 10rem;
}

.header__ref {
	color: #ffffff;
	padding: 0 1rem;
	text-decoration: none;
}

.header__burger {
	position: absolute;
	right: 4rem;
	cursor: pointer;
}

/*==========================================*/

.card {
	background: url(images/card_background.png) no-repeat;
	background-size: contain;
	position: relative;
	width: 92%;
	height: 68%;
	margin: 2rem auto;
}

.card__product {
	width: 60%;
	height: 100%;
	margin-left: 2rem;
}

.card__model {
	font-family: 'Roboto Condensed', sans-serif;
	position: absolute;
	color: #ffffff;
	font-size: 5rem;
	margin-left: 2.5rem;
}

.card__photo {
	position: relative;
	top: 5rem;
	left: 2rem;
	width: 85%;
}

.card__btn-add {
	position: relative;
	top: 6rem;
	left: 2rem;
	background: url(images/btn_add.png) no-repeat;
	width: 1.3rem;
	height: 1.3rem;
	border: none;
	outline: none;
	cursor: pointer;
}

.card__btn-add:hover {
	background: url(images/btn_add_hovered.png) no-repeat;
}

.card__views {
	position: relative;
	width: 12rem;
	top: 6rem;
	margin: 0 auto;
	text-align: center;
}

.card__view {
	cursor: pointer;
	margin: 0 .4rem;
	border: 2px solid #ffffff;
}

.card__view:hover {
	opacity: .6;
}

/*-------------------------------------*/

.card__info {
	font-family: 'Roboto Condensed', sans-serif;
	/*border: 1px solid black;*/
	width: 30%;
	position: absolute;
	top: 2rem;
	right: 1.5rem;
	box-sizing: border-box;
	padding: 1rem 1rem 1rem 1.5rem;
}

.card__new {
	font-family: 'Roboto', sans-serif;
	width: 2.5rem;
	background-color: #ffa60d;
	text-align: center;
	color: #ffffff;
	font-size: .8rem;
	line-height: 1.8;
}

.card__title {
	margin: .3rem 0;
	font-weight: normal;
	font-size: 1.5rem;
}

.card__title--blue {
	color: #5e4fff;
}

.card__description {
	text-transform: none;
	margin: .5rem 0;
}

.card__rate {
	position: absolute;
	top: 6.6rem;
	left: 5rem;
}

.card__star {
	cursor: pointer;
}

.card__price {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
	margin: .7rem 0;
}

.card__size {
	font-family: 'Roboto', sans-serif;
	text-transform: none;
}

.card__size-title {
	margin: 0;
	margin-bottom: .5rem;
}

.card__radois {
	width: 100%;
	text-align: center;
	margin-top: 0.3rem;
}

.card__radio {
	visibility: hidden;
	margin: 0 .6rem;
}

.card__labels {
	font-family: sans-serif;
	width: 100%;
	margin-top: -1.2rem;
}

.card__label {
	cursor: pointer;
	padding: .3rem;
	margin-right: 1rem;
	font-size: .8rem;
}


.card__label:hover {
	outline: 1px solid black;
}

.card__labelx {
	margin-right: -1rem;
}

.card__add {
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 2rem;
	width: 65%;
	padding: .3rem;
	background-color: transparent;
	border: 1px solid #000000;
	text-transform: uppercase;
	cursor: pointer;
	box-sizing: border-box;
}

.card__wish {
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
	margin-top: .3rem;
	width: 65%;
	padding: .3rem;
	background-color: transparent;
	border: 1px solid #000000;
	text-transform: uppercase;
	cursor: pointer;
	box-sizing: border-box;
}

.card__add:hover {
	background-color: #a200b8;
	color: #ffffff;
	border: none;
}

.card__wish:hover {
	background-color: #a200b8;
	color: #ffffff;
	border: none;
}

.card__btn-close {
	background: url(images/btn_close.png) no-repeat;
	width: 1rem;
	height: 1rem;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 35px;
}

.card__btn-close:hover {
	background: url(images/btn_close-hovered.png) no-repeat;
}
